* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-size: 9pt;
  }
  
  .labname{
      font-size: 10pt;
      padding: 5px;
      background-color:#63a1a1;
      display:flex;
  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;    /* Add this */
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }

  .signup {
    margin-left: 20px;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;  /*maybe stretch */
  }

  .myGithub,
  .groupLink {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .header a{
    text-decoration: none;
    color: #5995DA;
  }

  .links a{
    text-decoration: none;
    color: white;
  }

.photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    }

    .first-item {
    order: 1;
    }

    .last-item {
    order: -1;
    }

  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    }
  
    .footer {
        display: flex;
        justify-content: space-between;
    }
      
    .footer-item {
        border: 1px solid #fff;
        background-color: #D6E9FE;
        height: 200px;
        flex: 1;
    }

    .footer-one,
    .footer-three {
      background-color: #5995DA;
      flex: initial;
      width: 300px;
    }

/*SETTING UP FOR OTHER DISPLAYS*/

    /* Mobile Styles */
    @media only screen and (max-width: 600px) {
        *{
            font-size: 6pt;
        }

        .labname{
            font-size: 7pt;
            padding: 5px;
            background-color:#63a1a1;
            display:flex;
        }

        .header {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;  /*maybe stretch */
        }

        .header img{
            width: 220px;
        }

        .myGithub,
        .groupLink {
          align-self: flex-end;
          margin-bottom: 10px;
        }

        .photo-grid {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            align-items: center;
        }

        .photo-grid-item {
            border:none;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            width: 150px;
            height: 150px;
        }

        .photo-grid-item img{
            width:100%;
            height:auto;
        }

        .footer-one,
        .footer-three {
            background-color: #5995DA;
            flex: initial;
            width: 38%;
            height: 80px;
        }
        .footer-two{
            height: 80px;
        }
    }
    